<html>
  <body>
    <div>
      <form th:action="@{/user/save}" method="post" th:object="${user}">
        <input
          id="email"
          name="email"
          th:field="*{email}"
          placeholder="email"
          type="text"
          hidden
        />
        <input
          id="password"
          name="password"
          th:field="*{password}"
          placeholder="password"
          type="password"
        />
        <input
          id="name"
          name="name"
          th:field="*{name}"
          placeholder="name"
          type="text"
        />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
